<h1>Lists</h1>
<ul>
  <% @lists.each do |list| %>
  <li><%= link_to list.name, list_path(list.id) %></li>
  <% end %>
</ul>
<div class="btn btn-warning"><%= link_to 'Add list', new_list_path %></div>
